{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto text-center text-md-start">
            <h1 id="mainintrotext" class="display-4 logo-font text-white">
                THE HOME OF SHOES!
            </h1>
            <div class="my-4">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-outline-light btn-lg text-uppercase py-3">
                        Shop Now!
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card home-card-bckg">
                <img src="{% static 'images/about-shoes.webp' %}" alt="Shoes representing our brand" class="img-fluid w-100 card-img-fixed">
                <div class="card-body text-center">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text">Learn about our journey and what drives our passion for footwear.</p>
                    <a href="/about" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 category-badge" role="button">About</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card home-card-bckg">
                <img src="{% static 'images/register.jpeg' %}" alt="Join KicksOnFire Club logo" class="img-fluid w-100 card-img-fixed">
                <div class="card-body text-center">
                    <h5 class="card-title">Join KicksOnFire Club!</h5>
                    <p class="card-text">Create your own wishlist and make payments easier!</p>
                    <a href="{% url 'account_signup' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 category-badge" role="button">Register Now!</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card home-card-bckg">
                <img src="https://images.pexels.com/photos/28492804/pexels-photo-28492804/free-photo-of-stack-of-branded-sneaker-boxes-on-concrete-floor.jpeg" class="img-fluid w-100 card-img-fixed" alt="Stack of sneaker boxes showcasing variety">
                <div class="card-body text-center">
                    <h5 class="card-title">Here To Help!</h5>
                    <p class="card-text">We hope you find the help you need. If not, get in touch!</p>
                    <a href="/contact" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 category-badge" role="button">Contact Us!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}