html {
    height: 100%;
}

body {
    background: url('/media/Shoes-home-2.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000000;
    font-family: 'Lato';
}

/* Delivery */
.delivery_ban {
    animation: gradient 10s ease infinite alternate;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background: var(--bluegreen);
    }

    40% {
        background: var(--forest);
    }

    80% {
        background: var(--purple);
    }

    100% {
        background: var(--gold);
    }
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.logo {
    font-weight: 900 !important;
    text-shadow: 2px 2px 5px #9e2022;
    -webkit-text-stroke: #000;
    font-size: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

.main-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mainintrotext {
    font-weight: 400 !important;
    text-shadow: 2px 2px 1px #9e2022;
    -webkit-text-stroke: 1px #fefcfc;
}

.shop-now-button {
    background:white;
    color:#9e2022;
    font-weight: 800;
    letter-spacing: 2px;
    border:none;
    position:relative;
    min-width: 260px;
    height:60px;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(255, 247, 192);
	z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-link {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: rgb(255, 255, 255) !important;
}

.btn-outline-black:hover {
    background: #000;
}

/* Styling the Update and Remove links as buttons with white text */
.update-link,
.remove-item {
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    color: #fff !important;
}

/* Update button style */
.update-link {
    background-color: #17a2b8; 
    margin-right: 1rem;
}

.update-link:hover {
    background-color: #138496;
}

/* Remove button style */
.remove-item {
    background-color: #dc3545;
}

.remove-item:hover {
    background-color: #c82333;
}

/* Icon styling within the buttons */
.update-link small,
.remove-item small {
    font-size: 0.85rem;
    vertical-align: middle;
    color: #fff !important;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/*-- post_detail --*/
.masthead-text {
    background: linear-gradient(to right, #9e2022,  #d25254, #f1484b, #9e2022);
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 95%;
    height: 100%;
    width: 150%;
    background-color: #9e2022;
}

.post-link {
    text-decoration: none;
}

.post-link:hover,
.post-link {
    color: #9e2022;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.post-title {
    margin-top: 15%;
    margin-left: 5%;
}


.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #000;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #f93200;
    background: transparent;
    border: none;
}

/*--- Blog ---*/
.blog-section {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 1.5%;
    margin: 0 auto;
    padding: 20px 0 100px 0;
}

.blog-section .blog-btn {
    padding-top: 84px;
}

.single-blog-item {
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 91px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.single-blog-item.plain-text {
    padding-left: 45px;
    padding-top: 155px;
    padding-right: 35px;
    height: calc( 100% - 30px);
    position: relative;
}

.single-blog-item.plain-text .blog-text {
    text-align: center;
}

.btn {
    background-color: #9e2022;
    color: #fff;
}

.btn-info:hover {
    background-color: #000000;
    color: #fff;
}

#deleteConfirm {
    background: #E84610;
}

.author {
    color: #9e2022;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

.blog-img img {
	width: 100%;
}

.blog-text {
	padding-top: 36px;
	padding-left: 38px;
	padding-right: 20px;
}

.blog-text span.blog-time {
    display: inline-block;
    font-size: 16px;
    color: #858585;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    margin-bottom: 34px;
}

.comments-container {
    padding: 10px;
    background-color: rgb(225, 225, 225);
}

.single-sections {
	background: #295500;
	text-align: center;
	color: #ffffff;
	padding-top: 22px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/* Wishlist Styles */
.wishlist-border {
    border: 5px solid #dee2e6;
    border-radius: 8px;
    background-color:  #dee2e6; 
}

.wishlist-prod {
    max-height: 150px;
    object-fit: cover; 
}

.wishlist-icon {
    color: #9e2022;
}

.wishlist-delete {
    text-decoration: none;
    color:  #9e2022;
}

.wishlist-delete:hover {
    text-decoration: underline; 
}

.wishlist-prod {
    max-height: 200px;
    object-fit: cover;
}

/* Empty Wishlist Message */
.p-txt {
    font-size: 1.2rem;
    color: #6c757d;
}
/* Header nav bar */
.navbar {
    background-color: #f8f9fa;
    justify-content:space-between; 
}

.nav-item {
    margin: 0 15px;
}

.dropdown-menu {
    right: 0;
}


/* Reviews section */
.reviews-container {
    margin-top: 50px;
}

.reviews-container h3 {
    font-size: 24px;
    color: #000000;
    border-bottom: 2px solid #9e2022;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.review {
    background-color: #f4ebeb;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    border-left: 10px solid #f3e2e2;
}

.review p {
    font-size: 14px;
    color: #000000;
}

/* Review form styling */
.review-form {
    margin-top: 30px;
}

.review-form form {
    display: flex;
    flex-direction: column;
}

.review-form form input,
.review-form form textarea,
.review-form form button {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

/* Submit button */
.review-form form button {
    background-color: #9e2022;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review-form form button:hover {
    background-color: #00796b;
}

/* Login / signup prompts */
.login-prompt {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ff9800;
    margin-top: 20px;
}

.login-prompt a {
    color: #ff9800;
    font-weight: bold;
    text-decoration: none;
}

.login-prompt a:hover {
    text-decoration: underline;
}


/* Container for product details */
.product-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Product title styling */
.product-container h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Product description */
.product-container p {
    color: #666;
    font-size: 16px;
}

.card-img-fixed {
    height: 650px;
    object-fit: cover;
    width: 100%;
}

.card {
    margin-top: 0rem;
    box-shadow: 0 2px 10px;
}

.card-spacing {
    margin-bottom: 2rem;
}

/* Card Styles */
.home-card-bckg {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.home-card-bckg:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Text inside the card */
.card-body {
    padding: 1.5rem;
}

.card-body .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

/* Footer */
.footer-section {
    background-color: #000;
}

.footer-section-social-media {
    background: linear-gradient(to right, #9e2022,  #d25254, #f1484b, #9e2022);
}

/* Mailchimp */
#mc_embed_signup{
    background: var(--color-gray-8);
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width: 600px;
}

.mc-field-group input {
    width: 90%;
}

/* Media Queries */ 
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 100px;
    }

    body {
        height: calc(100vh - 190px);
        background-size: cover;
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .10rem .10rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }   

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-container {
        padding-top: 100px;
    }
    
    #mainintrotext {
        font-size: 2.5rem;
    }
    .card-title {
        font-size: 1.2rem;
    }

    .mobile-top-header .icon {
        margin-right: 10px;
    }

}
