 <!-- Footer -->
 <div class="footer mt-5">
    <footer class="text-center text-lg-start text-white footer-section">
        <!-- Section - Social media -->
        <div class="d-flex justify-content-between p-4 footer-section-social-media">
            <div class="me-5">
                <span>Connect with us on social networks:</span>
            </div>
            <div class="d-flex flex-row">
                <div class="mr-2">
                    <a href="https://www.facebook.com/profile.php?id=61567687153420" target="_blank" 
                    rel="nofollow" class="text-white" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div class="mr-2">
                    <a href="https://www.linkedin.com/in/ciaran-griffin-2534622a5/" target="_blank" 
                    rel="nofollow" class="text-white" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="mr-2">
                    <a href="https://github.com/ciarangriffin93" target="_blank" 
                    rel="nofollow" class="text-white" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>            
        </div>
        <!-- Section - About us   -->
        <section>
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <a class="text-uppercase text-white link-offset-2 link-underline link-underline-opacity-0 fw-bold" href="/about"><h3>About Us</h3>
                        </a>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto shop-content">
                        <p>
                            Welcome to KicksOnFire – your online hub for exclusive, high-end sneakers, designed for those who demand the best!
                        </p>
                    </div>

                    <!-- Contact Us column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-start">
                        <!-- Links -->
                        <a class="text-uppercase text-white link-offset-2 link-underline link-underline-opacity-0 fw-bold" href="{% url 'contact' %}">
                            <h3>Contact Us</h3>
                        </a>
                        <hr class="mb-4 mt-2 d-inline-block mx-auto">
                        <p style="text-align: left;"><i class="fas fa-home mr-3"></i> Dublin, Ireland</p>
                        <p style="text-align: left;"><i class="fas fa-envelope mr-3"></i> 
                            <a href="mailto:kicksonfire@gmail.com" class="text-white">kicksonfire@gmail.com</a></p>
                            <p style="text-align: left;"><i class="fas fa-phone mr-3"></i> +353 8709 066 91</p>
                    </div>

                     <!-- Mailchimp Signup -->
                     <div class="mb-4 mt-2 d-inline-block mx-auto mc_embed_shell mc_embed_signup">
                        <div class="newsletter-heading ">
                                <i class="fa-regular far fa-envelope fa-4x"></i>
                            <h3 class="text-white mb-3">Newsletter</h3>
                            <p>Join our weekly newsletter.<br> Stay in the loop
                                with the latest trends<br> and exclusive offers.</p>  
                        </div>
                        <form action="https://herokuapp.us10.list-manage.com/subscribe/post?u=541a05e1c7023edab78ca3a01&amp;id=bceaa13775&amp;f_id=0086e3e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group mb-3">
                                    <label for="mce-EMAIL" class="text-white mb-1">Email address</label>
                                    <input type="email" name="EMAIL" class="required email rounded" id="mce-EMAIL" required="" value="">
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response text-white " id="mce-error-response" style="display: none;"></div>
                                    <div class="response text-white" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                    <input type="text" name="b_541a05e1c7023edab78ca3a01_bceaa13775" tabindex="-1" value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-light btn-sm m-0" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-3 footer-bar">
            © 2024 Copyright:
            <a class="text-white link-offset-2 link-underline link-underline-opacity-0" target="_blank" 
            rel="nofollow" href="https://www.linkedin.com/in/">For Educational Purpose Only.</a>
            <a href="https://www.termsfeed.com/live/f5f1abf3-4f56-446e-8c50-973914ee3de3" 
            class="link-offset-2 link-underline link-underline-opacity-0 fw-bold"
            target="_blank" rel="noopener">Privacy Policy
            </a>
        </div>
    </footer>
  </div>