<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mx-auto"> <!-- This will center the nav items -->
        <li class="container">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="womens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Women's
            </a>
            <div class="dropdown-menu" aria-labelledby="womens-link">
                <a href="{% url 'products' %}?category=nikes women" class="dropdown-item">Nikes</a>
                <a href="{% url 'products' %}?category=adidas women" class="dropdown-item">Adidas</a>
                <a href="{% url 'products' %}?category=new balance women" class="dropdown-item">New Balance</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men's
            </a>
            <div class="dropdown-menu" aria-labelledby="mens-link">
                <a href="{% url 'products' %}?category=nikes men" class="dropdown-item">Nikes</a>
                <a href="{% url 'products' %}?category=adidas men" class="dropdown-item">Adidas</a>
                <a href="{% url 'products' %}?category=new balance men" class="dropdown-item">New Balance</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="kids-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kids
            </a>
            <div class="dropdown-menu" aria-labelledby="kids-link">
                <a href="{% url 'products' %}?category=nikes kids" class="dropdown-item">Nikes</a>
                <a href="{% url 'products' %}?category=adidas kids" class="dropdown-item">Adidas</a>
                <a href="{% url 'products' %}?category=new balance kids" class="dropdown-item">New Balance</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=socks" class="dropdown-item">Socks</a>
                <a href="{% url 'products' %}?category=laces" class="dropdown-item">Laces</a>
                <a href="{% url 'products' %}?category=shoe care" class="dropdown-item">Shoe Care</a>
            </div>
        </li>
    </ul>
</div>
</div>